SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm/lib/netstandard2.0/Microsoft.CognitiveServices.Speech.csharp.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libMicrosoft.CognitiveServices.Speech.core.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libMicrosoft.CognitiveServices.Speech.extension.codec.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libMicrosoft.CognitiveServices.Speech.extension.kws.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/lib/netstandard2.0/Microsoft.CognitiveServices.Speech.csharp.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libMicrosoft.CognitiveServices.Speech.core.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libMicrosoft.CognitiveServices.Speech.extension.codec.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libMicrosoft.CognitiveServices.Speech.extension.kws.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-x64/lib/netstandard2.0/Microsoft.CognitiveServices.Speech.csharp.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libMicrosoft.CognitiveServices.Speech.core.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libMicrosoft.CognitiveServices.Speech.extension.codec.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libMicrosoft.CognitiveServices.Speech.extension.kws.so
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/osx-x64/lib/netstandard2.0/Microsoft.CognitiveServices.Speech.csharp.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libMicrosoft.CognitiveServices.Speech.core.dylib
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.CognitiveServices.Speech.core.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.CognitiveServices.Speech.extension.codec.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.CognitiveServices.Speech.extension.kws.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.CognitiveServices.Speech.extension.silk_codec.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.CognitiveServices.Speech.core.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.CognitiveServices.Speech.extension.codec.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.CognitiveServices.Speech.extension.kws.dll
SpeechServicePractice/SpeechServicePractice/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.CognitiveServices.Speech.extension.silk_codec.dll
